.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-container img {
  width: 18rem;
  margin: 1rem;
}

.header-actionBar {
  display: flex;
}

.header-actionBar img {
  cursor: pointer;
  width: 2rem;
}